*{
    margin: 0;
    padding: 0;
} 

body {
    background: rgb(210,0,162);
    background: linear-gradient(121deg, rgba(210,0,162,1) 0%, rgba(241,255,135,1) 100%);
    height: 100vh;
}

#gameplan {
    border: 1px solid #ccc;
    width: 400px;
    height: 80vh;
    margin: auto;
    background-color: white;
    margin-top: 60px;
    padding: 20px;
    border-radius: 4px;
}

#header {
    font-size: 3rem;
    padding: 20px;
}

#container {
    padding: 20px;
    text-align: center;
}

#rock, #paper, #sissor {
    font-size: 3rem;
    display: inline;
    text-align: center;
    padding: 20px;
}

#rock:hover, #paper:hover, #sissor:hover {
    font-size: 4rem;
}

#result {
    text-align: center;
}

#result h1{
    padding: 10px;
    background-color: #d200a2;
    border: 1px solid #ccc;
    border-radius: 4px;
}

#myChoise, #yourChoise {
    font-size: 3rem;
    display: inline;
}

#scoreContainer{
    text-align: center;
    padding: 20px;
}

#myScore, #yourScore {
    border: 1px solid black;
    display: inline;
    font-size: 3rem;
    margin: 20px;
    padding: 10px;
}

#myScore {
    background-color: #d200a2;
}

#yourScore {
    background-color: #f1ff87;
}

#sameChoise {
    text-align: center;
    font-size: 2rem;
    margin: auto;
}

#playAgain {
    display: block;
    width: 100%;
    background-color: #d200a2;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

#playAgain:hover {
    background-color: #f1ff87;
    color: black;
    border: 1px solid #ccc;
}